@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "Master.cshtml";
}
		<li>
			<a>This is @Model.Name()   </a>
			<li1> has ID: @Model.Id</li1>
		</li>
@if(Model.Children.Any()){
    <a>hello</a>
}